@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
   font-family: "Jua"; 

}

/* @font-face {
  font-family: "Cafe24Ssurround";
  src: url(/src/assets/fonts/Cafe24Ssurround.ttf);
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url(/src/assets/fonts/Cafe24SsurroundAir.ttf);
}

@font-face {
  font-family: "KOTRAHOPE";
  src: url(/src/assets/fonts/KOTRA\ HOPE.ttf);
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url(/src/assets/fonts/NanumSquareNeo-Variable.woff) format("woff");
  font-weight: normal;
  font-style: normal;
} */

html {
  font-size: 30px;
  font-family: "Jua"; 
}

